<center> 유기동물 입양률 예측 with keras perceptron </center>
<br>
<br>
<center>
<form action="/predict/predmodel" method="get">
	
	
	나이(만): <p> <input type="text" name="age" > </p> 
	무게(kg): <p><input type="text" name="weight"> </p>
	동물(개/고양이): <p> 고양이<input type="radio" name="animal" value=0>
					개 <input type="radio" name="animal" value=1> </p>
	색: <p> 갈색 <input type="radio" name="color" value=0>
			검정색 <input type="radio" name="color" value=1>
			혼합색 <input type="radio" name="color" value=2>
			흰색 <input type="radio" name="color" value=3> 
	 </p> 

	종(species):<p> <select name=species>
						<option name="species" value=0> 노르웨이숲 </option>
						<option name="species" value=1> 닥스훈트 </option> 
						<option name="species" value=2> 달마시안  </option>
						<option name="species" value=3> 도사견  </option> 
						<option name='species' value=4> 라이카  </option>
						<option name='species' value=5> 러시안블루  </option> 
						<option name='species' value=6> 리트리버  </option> 
						<option name='species' value=7> 마리노이즈 </option> 
						<option name='species' value=8> 말라뮤트  </option> 
						<option name='species' value=9> 말티즈  </option> 
						<option name='species' value=10> 미니어쳐  </option> 
						<option name='species' value=11> 미니핀  </option> 
						<option name='species' value=12> 믹스견 </option> 
						<option name='species' value=13> 믹스묘 </option> 
						<option name='species' value=14> 뱅갈고양이 </option> 
						<option name='species' value=15> 베들링턴</option> 
						<option name='species' value=16> 보더콜리 </option> 
						<option name='species' value=17> 보스턴 </option> 
						<option name='species' value=18> 브리타니 </option> 
						<option name='species' value=19> 브리티시 </option> 
						<option name='species' value=20> 비글 </option> 
						<option name='species' value=21> 비숑 </option> 
						<option name='species' value=22> 빠삐용 </option> 
						<option name='species' value=23> 사냥개 </option> 
						<option name='species' value=24> 사모예드 </option> 
						<option name='species' value=25> 삽살개 </option> 
						<option name='species' value=26> 샤페이 </option> 
						<option name='species' value=27> 샴 </option> 
						<option name='species' value=28> 쉽독 </option> 
						<option name='species' value=29> 슈나우져 </option> 
						<option name='species' value=30> 스코티시폴드</option> 
						<option name='species'value=31> 스피츠 </option> 
						<option name='species' value=32> 시바 </option> 
						<option name='species' value=33> 시베리아허스키 </option> 
						<option name='species' value=34> 시츄 </option> 
						<option name='species' value=35> 아메리칸숏헤어 </option> 
						<option name='species' value=36> 아비시니안 </option> 
						<option name='species' value=37> 요크셔 </option> 
						<option name='species' value=38> 웰시 </option> 
						<option name='species' value=39> 재패니즈친 </option> 
						<option name='species' value=40> 저먼 </option> 
						<option name='species' value=41> 젝러셀테리어 </option> 
						<option name='species' value=42> 진돗개 </option> 
						<option name='species' value=43> 차우차우</option> 
						<option name='species' value=44> 치와와 </option> 
						<option name='species' value=45> 코리안숏헤어 </option>
						<option name='species' value=46> 코카스파니엘 </option> 
						<option name='species' value=47> 터키쉬앙고라 </option> 
						<option name='species' value=48> 퍼그 </option> 
						<option name='species' value=49> 페르시안 </option> 
						<option name='species' value=50> 페니키즈 </option> 
						<option name='species' value=51> 포메라니안 </option> 
						<option name='species' value=52> 폼피츠 </option> 
						<option name='species' value=53> 푸들 </option> 
						<option name='species' value=54> 풍산개 </option> 
						<option name='species' value=55> 프렌치불독 </option> 
						<option name='species' value=56> 하운드 </option> 
				</select>
			
	</p>
	
	중성화 여부:<p> No <input type="radio" name="neuteryn" value=0>
				unknown <input type="radio" name='neuteryn' value=1>
				 yes <input type="radio" name="neuteryn" value=2>
				 
	</p>

	outer health(부상): <p> 심각<input type="radio" name="outer_health" value=2>
							치료 가능<input type="radio" name="outer_health" value=1>
							해당없음 <input type="radio" name="outer_health" value=0>
	</p>

	inner health(질병): <p> 심각<input type="radio" name="inner_health" value=2>
							치료 가능<input type="radio" name="inner_health" value=1>
							해당없음 <input type="radio" name="inner_health" value=0>
	</p>
	장애여부: <p> 있음<input type="radio" name="disable" value=1>
				없음 <input type="radio" name="disable" value=0> 
			</p>
				
	
	성격: <p> 알수없음 <input type="radio" name="personality" value=0>
				온순<input type="radio" name="personality" value=1>
				사나움<input type="radio" name="personality" value=2>
			</p>

	생후 3개월 이내: <p> No <input type="radio" name="care" value=0> 
					  Yes <input type='radio' name="care" value=1>
				</p>
				
	성별: <p> 알수없음<input type='radio' name='sex' value=0>
			남성<input type='radio' name='sex' values=1>
			 여성<input type='radio' name='sex' values=2>
		</p>


	<input type="submit" value="예측하기"><input type="reset">
</form>
</center>

<table align=center border=1>
    <tr>
    <td>result</td>
    </tr>
  {% for r in result %}
  {% for p in prob %}
    <tr>
    <td>{{result}} </td>
    <td> {{prob}} </td>
    </tr>

  {% endfor %}
  </table>
     <!-- </br> -->
    <!-- x1: {{first}} </br> -->
    <!-- x2: {{second}} </br> -->
    <!-- x3: {{x3}} 
    x4: {{x4}}
    x5: {{x5}}
    x6: {{x6}}
    x7: {{x7}}
    x8: {{x8}}
    x9: {{x9}}
    x10: {{x10}}
    x11: {{x11}}
    x12: {{x12}} -->
    <!-- result:{{result}} -->
    </body>
    
    </html>